[user]
	email = shenkit108@gmail.com
	name = Shen-Kit Hia
[init]
	defaultBranch = main
[pull]
	ff = only
[credential]
	helper = cache --timeout=10800
[alias]
	rbi = rebase --interactive
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit
	co = checkout
