layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        // format
        format_left  "{mode} #[fg=#89B4FA,bold]{tabs}"
        format_right "#[fg=#A6E3A1,bold]{session}"
        format_space ""

        // tab styling
        tab_normal   "#[fg=#A6ADC8] {name} "
        tab_active   "#[fg=#1E1E2E,bold,bg=#CBA6F7] {name} "

        // mode styling 
        mode_normal        "#[bg=blue,fg=black,bold] NORMAL "
        mode_locked        "#[bg=red,fg=black,bold] LOCKED "

        mode_pane          "#[bg=magenta,fg=black,bold] PANE "
        mode_tab           "#[bg=cyan,fg=black,bold] TAB "
        mode_resize        "#[bg=yellow,fg=black,bold] RESIZE "
        mode_move          "#[bg=white,fg=black,bold] MOVE "
        mode_tmux          "#[bg=white,fg=black,bold] TMUX "

        mode_scroll        "#[bg=green,fg=black,bold] SCROLL "
        mode_search        "#[bg=green,fg=black,bold] SEARCH "

        mode_session       "#[bg=purple,fg=black,bold] SESSION "

        mode_prompt        "#[bg=orange,fg=black,bold] PROMPT "
        mode_enter_search  "#[bg=green,fg=black,bold] ENT-SEARCH "
        mode_rename_tab    "#[bg=cyan,fg=black,bold] REN-TAB "
        mode_rename_pane   "#[bg=magenta,fg=black,bold] REN-PANE "
      }
    }
  }
}
