@define-color bg #1e1e2e;
@define-color bg_focus #585b70;
@define-color text #cdd6f4;
@define-color subtext #a6adc8;
@define-color red #f38ba8;
@define-color dark_gray #111;

* {
    font-family: "Monaspace Neon", "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: @bg;
    color: @text;
}

button {
    border: none;
    border-radius: 0;
}

#custom-sep {
  padding: 0 10px;
}

#battery {
  margin-right: 10px;
}

/* mango tags */

#tags button {
  color: @subtext;
  padding: 0px 1px;
  margin: 0px 1px;
}

#tags button.occupied {
  /* shadow instead of border to prevent text offset */
  box-shadow: inset 0 -2px @red;
}

#tags button.focused {
  color: @text;
  background-color: @bg_focus;
}

#tags button.urgent {
  background-color: @red;
  color: @dark_gray;
}
